* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;

}

.padding-navbar {
  padding-top: 20px;
}

.perfil-direct {
  border-radius: 100%;
}

.logo-navbar {
  width: 50px;
}

.navbar {
  background-color: rgb(135, 126, 0);
}